/*ALLA*/
html{
	scroll-behavior: smooth;
}

a{
	font-size: 25px;
}

.bilder{
	width: 300px;
}

p{
	font-size: 28px;
	font-family: verdana;
}

/*sätts på alla huvudrubriker*/
.huvudrubrik{
	text-align: center;
	font-size: 100px;
	text-shadow: 6px 4px #E80C94;
	font-family: impact;
}

/*INDEX*/
.hembody{
	background-image: url("img/vitbg.jpg");
}

.hemrubrik{
	font-size: 150px;
}

.startpics{
	padding-top: 40px;
	padding-bottom: 40px;
}

/*GALLER*/
.galleribody{
	background-image: url("img/stenar.jpg");
	background-color: rgba(0,0,0,0.1);
}

.gallerirubrik{
	color:#ced1f5;
}

/*MATERIAL*/

/*KONTAKT*/




/*.starttext{
	background-color: black;
	color:white;
}*/


/*GLÖM INTE ATT ATLLA TJEJHACKSFÄRGER SKA VARA SAMLADE PÅ ETT STÄLLE SEDAN, JUST NU FINNS DET BARA PÅ ETT STÄLLE: CLASS="HUVUDRUBRIK"*/
/*Rad 21*/