/*ALLA*/
html{
	scroll-behavior: smooth;
}

a{
	font-size: 25px;
}

.bilder{
	width: 300px;
}

p{
	font-size: 28px;
	font-family: impact;
}

.impactfont{
	font-family: impact;
}

/*Här står s:et för skugga*/
.s1{
	box-shadow: 5px 5px #BADEFC;
}

.s2{
	box-shadow: 5px 5px #23CE6B;
}

.s3{
	box-shadow: 5px 5px #DB6C79;
}

.s4{
	box-shadow: 5px 5px #5DFDCB;
}

.vitbakgrund{
	background-color: white;
}

/*sätts på alla huvudrubriker*/
.huvudrubrik{
	text-align: center;
	font-size: 100px;
	text-shadow: 6px 4px #E80C94;
	font-family: impact;
}

/*INDEX*/
.hembody{
	background-image: url("img/vitbg.jpg");
}

.hemrubrik{
	font-size: 150px;
}

.startpics{
	padding-top: 40px;
	padding-bottom: 40px;
}

/*GALLER*/
.galleribody{
	background-image: url("img/stenar.jpg");
	background-color: rgba(0,0,0,0.1);
}

.gallerirubrik{
	color:#ced1f5;
}

.svtbild{
	width: 540px;
}



/*MATERIAL*/
.materialbody{
	background-image: url("img/glitter.jpg");

}
.materialrubrik{
	color:white;
}

.padding1{
	padding: 150px;
}
.padding2{
	padding:130px;
}
h3{
	font-size: 30px;
}

.tjejhackloggan{
	width: 355px;
}

.pythonloggan{
	width: 400px;
}

/*KONTAKT*/
.kontaktbody{
	background-image: url("img/cool.jpg");
}
.bildkontakt{
	width: 100px
}
.kontaktpadding{
	padding-top: 30px;
	padding-left: 30px;
}



/*.starttext{
	background-color: black;
	color:white;
}*/


/*GLÖM INTE ATT ATLLA TJEJHACKSFÄRGER SKA VARA SAMLADE PÅ ETT STÄLLE SEDAN, JUST NU FINNS DET BARA PÅ ETT STÄLLE: CLASS="HUVUDRUBRIK"*/
/*Rad 21*/